<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
<title>GameList</title>
</head>
<body class="bg-dark">
	<div class="container text-white">
		<h4>All Console Games</h4>
		<hr>
		<table class="table table-bordered">
			<thead>
				<tr class="bg-danger">
					<th>Name</th>
					<th>Console</th>
					<th>year</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="theGameList : ${gamelist}">
					<td th:text="${theGameList.gameName}" />
					<td th:text="${theGameList.console}" />
					<td th:text="${theGameList.year}" />
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>