<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" href="/CSS/start.css">
<style>
body{
	background: black;
	color: white;
}
</style>
<meta charset="ISO-8859-1">
<title>PlantPlaces.com</title>
</head>

<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">


<body>
<h1>Welcome to our Video Game Masterlist!</h1>
<br/>
<h2>The overall objective of this web application is to help users find video games they may be interested in!</h2>
<p th:text="${specimenDTO}"/>
</body>
</html>